@charset "UTF-8";

html {
  scroll-padding-top: 3.5rem;
}

header {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

svg {
  width: 20px;
  height: 20px;
}